h1 {
    background-color: green;
    width:100px;
    border:2px solid grey;
    margin:50px;
    padding:5px
}

td {
    border:2px solid grey;
    margin:200px;
    padding:50px;
    color:green

}
table {
    margin:80px;
}